body{
    font-family:'Courier New', Courier, monospace;

    margin:0px;
}

.header{
    background-color: #1F2937;
    display:flex;
    justify-content: space-between;
    padding:70px 150px;
}

ul{
    display:flex;
    list-style-type: none;
    padding:0px;
    margin:0;
    gap:50px;
    text-align: center;
}
a{
    text-decoration: none;
    color:#a7a7a7
}
.logo{
    font-size: 30px;
    color:#E5E7EB;
    font-weight: bold;
}

.upper-part{
    background-color: #1F2937;
    display:flex;
    padding-bottom:70px;
    padding-left: 150px;
    padding-right:150px;
    gap:50px;
    justify-content: space-between;
}


text.big{
    font-size: 34px;
    font-weight:bolder;
    color:#F9FAF8;
    justify-content: center;
}
.left text{
    color:#E5E7EB;
    flex-shrink:0;
}
.press button{
    background-color:#F68E5F;
    color:#1F2937;
    font-size: 20px;
    font-weight:bold;
    padding:18px 25px;
    width:150px;
    flex-shrink:0;
    border-radius: 12px;
    border:none;
}

.upper-part .right{
    display: flex;
    align-items: center;
    

}
.upper-part .left{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:20px;
    width:500px;
    justify-content: center;
}
.right img{
    height:300px;
    width:450px;
    border-radius: 20px;
}

.middle-part1{
    background-color:#75B9BE;
    text-align: center;
}
.imgheader{
    padding-top:50px;
    padding-bottom: 50px;
}
div.imgheader{
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    text-align: center;
}

.gallery{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
.text{
   font-size: 20px; 
   margin: 30px;
}
.card img{

    height:200px;
    width:200px;
    border-radius: 50% 0px 50% 50%;
    border:5px solid;
    border-color: #1F2937;
    margin-bottom:30px;
}

.middle-part2{
    background-color: #E5E7EB;
    padding: 100px 200px;
    display:flex;
    flex-direction: column;
    gap:40px;
}
.quote{
    flex-shrink:0;
    font-size:36px;
    font-style:italic;
    align-self: center;

}
.author{
    align-self: flex-end;
    flex-shrink:0;
    font-weight:900;
    font-size: 21px;
    
}

.bottom-part .left{
    display:flex;
    flex-direction: column;
    line-height: normal;
}

.bottom-part{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#F68E5F;
    padding:50px;
}

.inside{
    background-color:aliceblue;
    display:flex;
    padding:40px;
    border-radius: 30px;
    gap:80px;
}

text.bigger{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
 
}
.inside text,
.right button{
    color:#1F2937;
    
}

.right.bottom-part{
    display:flex;
    align-items: center;
}
.right button{
    border-radius: 7px;
    padding:18px 25px;
    font-weight: 550;
    font-size: 18px;
    background-color: #75B9BE;
    border: 0px;
    width:150px;
}

.footer{
    background-color: #1F2937;
    color:aliceblue;
    display:flex;
    justify-content: center;
    padding:30px;
}